<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Form</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <h1>PRODUCT FORM</h1>
    <div class="form">
        <form action="/post" method="post">
            <h3>ENTER PRODUCT</h3>
            <input type="text" name="prod_name" id="product" placeholder="Product name..." >
            <input type="text" name="prod_id" id="prod_id" placeholder="Product Id..." >
            <textarea id="prod_desc" name="prod_desc" rows="4" placeholder="Product description..."></textarea>
            <button type="submit" id="btn">Submit</button>
        </form>
    </div>
</body>
</html>